<head>
  {{> head}}
</head>

<style>
.map-seg {
  cursor: pointer;
}
.map-seg:hover {
  background-color: #f6f6f8;
}
.fixed {
  position: fixed;
}
#main-header {
  text-align: center;
  font-size: 2.5em;
}
#map-select {
  overflow-y: scroll;
  height: calc(100% - 7.2em);
}
#play-button {
  float: right;
}
</style>

<body>
  <div class="ui segment">
      <h1 class="ui header" id="main-header">webtaiko</h1>

      <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">

            <h1 class="ui header">
              <span id="scores-artist">artist</span> -- <span id="scores-title">title</span>
                <div class="sub header">Map by <span id="scores-creator">creator</span></div>
            </h1>

            <div class="ui big header">
              <span id="scores-diff">diff</span>
              <span id="scores-star-label" class="ui big circular label">
                <i class="star icon"></i> 
                <span id="scores-stars">0.00</span>
              </span>

              <div class="ui labeled button" id="play-button">
                <div class="positive ui button">
                  <i class="play icon"></i> Play
                </div>
                <a id="scores-plays" class="ui basic green left pointing label">
                  0
                </a>
              </div>
            </div>

             
            <div class="ui section divider"></div>

            <div class="ui medium header">Personal Best:</div>
            <table class="ui celled table">
              <thead>
                <tr><th class="two wide">Rank</th>
                <!-- <th class="two wide">Grade</th> -->
                <th>Player</th>
                <th>Score</th>
                <th>Acc</th>
              </tr></thead>
              <tbody>
              <tr>
                <td><h2 class="ui center aligned header">50</h2></td>
                <td>Cychloryn</td>
                <td>679843</td>
                <td>98.13%</td>
              </tr>
            </table>
              
            
            <div class="ui medium header">Global Leaderboard:</div>
            <table class="ui celled table">
              <thead>
                <tr><th class="two wide">Rank</th>
                <!-- <th class="two wide">Grade</th> -->
                <th>Player</th>
                <th>Score</th>
                <th>Acc</th>
              </tr></thead>
              <tbody>
                <tr>
                  <td><h2 class="ui center aligned header">50</h2></td>
                  <td>Cychloryn</td>
                  <td>679843</td>
                  <td>98.13%</td>
                </tr>
                <tr>
                  <td><h2 class="ui center aligned header">50</h2></td>
                  <td>IOException</td>
                  <td>679843</td>
                  <td>98.13%</td>
                </tr>
                <tr>
                  <td><h2 class="ui center aligned header">50</h2></td>
                  <td>IOException</td>
                  <td>679843</td>
                  <td>98.13%</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="column" id="map-select">

            {{#each maps}}
            <div class="ui {{this.diffColor}} segment map-seg"
                 onclick="load({{this.setId}},{{this.diffId}})">

              <div class="ui header">
                {{this.title}}
                <div class="sub header"> {{this.artist}} // map by {{this.creator}} </div>
              </div>
            
              <div class="ui big header">
                {{this.diff}} <span class="ui {{this.diffColor}} big circular label">
                <i class="star icon"></i> 
                {{this.stars}}</span>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
        <div class="ui vertical divider"></div>
      </div>

  </div>
</body>

<script src="/static/js/index.js"></script>
