{{#each maps}}
  <div>
    <a href="/play/{{this.mapId}}/{{this.diffId}}">
      {{this.artist}} -- {{this.title}}
    </a>
      <p> Mapped by {{this.creator}} </p>
      <p>{{this.diff}}: {{this.stars}}*</p>
    <hr>
  </div>
{{/each}}
